@media print {
  a[href]:after {
    content: "";
  }
  .sidebar{display:none;}
  .nav-tabs{display:none;}
  .footer{display:none;}
  .header-top{display:none;}
}

.input-group-addon {
    min-width:100px;
    text-align:left;
    /*background-color: #e5d8d7;*/
}
.p_hide{display: none;}
.table input{
    display:block;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    -webkit-margin-start: 17px;
    -moz-margin-start: 12px;
    padding-left: 0px;
    margin-bottom: 0;
}

@-moz-document url-prefix() {
  select.form-control {
    padding-right: 25px;
    background-image: url("data:image/svg+xml,\
      <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px'\
           height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'>\
        <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
      </svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) 50%;
    -moz-appearance: none;
    appearance: none;
  }
}
